# Dev
bumpversion
pytest
build
twine
coverage
pytest-cov
pytest-xdist
pkginfo
setuptools
wheel

# db 
# pymongo

# Code Quality
ruff; python_version >= "3.0"
mypy[faster-cache]>=1.12; python_version >= "3.0"
pylint; python_version >= "3.0"
